@model UserInfo
@{
	ViewBag.Title = "Başvuru Özeti";
}

<main class="text-center">
	<h1 class="h4">Başvuru Özeti</h1>
	@if(Model.WillAttend == true){
		<p>Toplantıya sizinle birlikte @ViewBag.UserCount kişi katılıyor.</p>
		<a class="btn btn-sm btn-outline-primary" href="/meeting/list">Katılımcıları listele</a>
	}
	else
	{
		<p>Üzgünüz, toplantıya katılamayacaksınız.</p>
		<a class="btn btn-sm btn-outline-primary" href="/Meeting/Apply">Başvuru formu</a>
	}

</main>

